
.button__learn-more{
  background-color:#70b1e1;
  margin-top:12.5vh;
  margin-left:17.5%;
  width:65%;
  height:12.5vh;
  color:white;
  font-size:1.3em;
  font-family:'Sailec';
  font-weight:bold;
}
